# Ignore everything except scrape_tweet.py

!.gitignore
!scrape_tweet.py

# Ignore environment directories
tweet_scraper_env/

# Ignore CSV files
*.csv

# Ignore JSON files
WaterCodes.json
waterisCoding.json
waterIsCoding.json

# Ignore any potential sensitive data files
.env
